gendata@0.1.0 D:\gendata2\Frontend\gendata
├── @testing-library/jest-dom@5.17.0
├── @testing-library/react@13.4.0
├── @testing-library/user-event@13.5.0
├── autoprefixer@10.4.20
├── axios@1.7.8
├── lucide-react@0.462.0
├── postcss@8.4.49
├── react-dom@18.3.1
├── react-scripts@5.0.1
├── react@18.3.1
├── tailwindcss@3.4.15
└── web-vitals@2.1.4

